<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>DublinBus</title>

    {% load staticfiles %}

    <!-- Jquery -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous">
    </script>

    <script
      src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
      integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
      crossorigin="anonymous">
    </script>

    <!-- Time Picker -->
    <link rel="stylesheet" href="{% static 'bus/wickedpicker/stylesheets/wickedpicker.css' %}">
    <script type="text/javascript" src="{% static 'bus/wickedpicker/src/wickedpicker.js' %}"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- Custom CSS -->
    <link href="{% static 'bus/custom.css' %}" rel="stylesheet">
    <script type="text/javascript" src="{% static 'bus/scripts.js' %}"></script>

    <!--Jquery for autocomplete-->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    {#    Loading data upfront      #}

{#    <img src="{% static "bus/favicon2.ico" %}" alt="Bus favicon"/>#}

    <link rel="shortcut icon" type="image/png" href={% static "bus/favicon1.ico" %}/>

    <!--Jquery for cookie use-->
    <script type="text/javascript" src="{% static 'bus/js.cookie.js' %}"></script>

</head>

<body>
<div class="container-fluid mainwindow">
  <div class="row">
{#      <-------MENU SECTION------->#}
      <div class="col-sm-4" id="menu">
{#          <h1 id="tagline">DublinBus</h1>#}
          <img src="/static/bus/dblogo.png" alt="DublinBus" style="max-width: 100%">

          {#      <-------NAVIGATION BAR SECTION------->#}
          <nav class="navbar navbar-default">
              <ul class="nav navbar-nav">
                  <li class="active"><a href="/bus">Trip Planner</a></li>
                  <li><a href="/planner">Route Planner</a></li>
              </ul>
          </nav>

          <hr>
            <div class="row">
                <div class="col-sm-12">
                    <input type="text" class="form-control" name="routeList" id="route" placeholder="Route">
                    <!--<select class="form-control" name="route" id="route">-->
                        <!--<option>Route</option>-->
                    <!--</select>-->
                </div>
                <div class="col-sm-12">
                    <!--<input type="text" class="form-control" name="direction" id="direction" placeholder="Direction">-->
                    <select class="form-control" name="direction" id="direction">
                        <option>Direction</option>
                    </select>
                </div>
                <div class="col-sm-12">
                    <!--<input type="text" class="form-control" name="startStop" id="startStop" placeholder="Origin">-->
                    <select class="form-control" name="startStop" id="startStop">
                        <option>Origin</option>
                    </select>
                </div>
                <div class="col-sm-12">
                    <!--<input type="text" class="form-control" name="endStop" id="endStop" placeholder="Destination">-->
                    <select class="form-control" name="endStop" id="endStop">
                        <option>Destination</option>
                    </select>
                </div>
                <div class="col-sm-12">
                        <input type="text" name="timepicker" class=" form-control timepicker" id="timepicker" style="width: 100%"/>
                </div>
                <div class="col-sm-12">
                    <select class="form-control" name="day" id="day">
                    </select>
                </div>
                <div class="col-sm-12">
                    <select type="text" class="form-control" name="weather" id="weather">
                        <option value="0">Sunny</option>
                        <option value="1">Rainy</option>
                    </select>
                </div>
                <div class="col-sm-12">
                    <button type="button" class="btn col-sm-12 btn-default" id="submitBtn">Submit</button>
                </div>
            </div>
            <hr>

{#          <-----RESULTS----->#}

{#          <div class="panel panel-default top-buffer bus-time">#}
{#              <div class="panel-heading">Journey Time</div>#}
{#              <div class="panel-body">#}
{#                  <h2 id="timePrediction"></h2>#}
{#              </div>#}
{#          </div>#}
            <div class="row">
                <div class="col-sm-6">
                    <div class="panel panel-default top-buffer bus-time">
                        <div class="panel-heading">Departure Time</div>
                        <div class="panel-body">
                            <h5 id="originPrediction"></h5>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="panel panel-default top-buffer bus-time">
                        <div class="panel-heading">Arrival Time</div>
                        <div class="panel-body">
                            <h5 id="destinationPrediction"></h5>
                        </div>
                    </div>
                </div>
            </div>
{#          <-----TESTING ROUTES----->#}



      </div>

{#      <-------MAP SECTION------->#}
      <div class="col-sm-8" id="mapwrapper">
        <div id="map"></div>
        <script>
{#          <!--global map variable. Allows us to interact with the map from outside this program.-->#}
{#              <!--Initialize the map-->#}
              function initMap() {
                var dublin = {lat: 53.3498, lng: -6.2603};
                map = new google.maps.Map(document.getElementById('map'), {
                  zoom: 11,
                  center: dublin
                });
              }
        </script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB3um4WUb5l36zZyCnovdVFE6OEBfgf3wQ&callback=initMap">
        </script>
      </div>
  </div>
</div>

</body>

</html>