<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>DublinBus</title>

    {% load staticfiles %}

    <!-- Jquery -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous">
    </script>

    <script
      src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
      integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
      crossorigin="anonymous">
    </script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- Custom CSS -->
    <link href="{% static 'bus/custom.css' %}" rel="stylesheet">
    <script type="text/javascript" src="{% static 'bus/scripts.js' %}"></script>

    <!--Jquery for autocomplete-->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!--Google Maps API-->
    <!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCnykkzTXg3JpDVbnZkn6HO3bYK5XVVZgk&callback=myMap"></script>-->



    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
{#    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>#}
{#    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>#}
    <![endif]-->

</head>

<body>

    <!-- Image Background Page Header -->
    <!-- Note: The background image is set within the business-casual.css file. -->
{#    <header class="business-header">#}
{#        <div class="container">#}
{#            <div class="row">#}
{#                <div class="col-lg-12">#}
{#                    <h1 class="tagline">DublinBus</h1>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </header>#}

    <!-- Page Content -->
    <div class="container">

        <div class="row">
            <div class="col-sm-3">
{#                <div class="row">#}
{#                    <div class="col-sm-12">#}
{#                        <h2 class="subtitle top-buffer">Your bus will arrive in</h2>#}
{#                        <div class="jumbotron bus-time">#}
{#                            <h1 id="timePrediction"></h1>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
                <!-- /.row -->

        <form id="params" action=''>
            <div class="row top-buffer">
                <div class="col-sm-12">
{#                    <label for="startStop">Origin</label>#}
                    <input type="text" class="form-control" name="startStop" id="startStop" placeholder="Enter station">
                    <!--<select class="form-control" name="startStop">-->
                        <!--<option>Select Start</option>-->
                    <!--</select>-->
                </div>
                <div class="col-sm-12">
{#                    <label for="endStop">Destination</label>#}
                    <input type="text" class="form-control" name="endStop" id="endStop" placeholder="Enter station">
                    <!--<select class="form-control" name="endStop">-->
                        <!--<option>Select End</option>-->
                    <!--</select>-->
                </div>
                <div class="col-sm-12">
{#                    <label for="route">Route</label>#}
                    <!--<input type="text" class="form-control" name="route" placeholder="Enter route">-->
                    <select class="form-control" name="route" id="route">
                        <option>Select Route</option>
                    </select>
                </div>
                <div class="col-sm-12">
{#                    <label for="hour">Hour</label>#}
                    <!--<input type="text" class="form-control" name="route" placeholder="Enter route">-->
                    <select class="form-control" name="hour" id="hour"></select>
                </div>
                <div class="col-sm-12">
{#                    <label for="day">Day</label>#}
                    <!--<input type="text" class="form-control" name="route" placeholder="Enter route">-->
                    <select class="form-control" name="day" id="day"></select>
                </div>
{#                <div class="col-sm-2">#}
{#                    <label for="hour">Hour</label>#}
{#                    <input type="text" class="form-control" name="hour" id="hour" placeholder="Enter hour">#}
{#                </div>#}
{#                <div class="col-sm-2">#}
{#                    <label for="day">Day</label>#}
{#                    <input type="text" class="form-control" name="day" id="day" placeholder="Enter day">#}
{#                </div>#}
                <div class="col-sm-12">
{#                    <label for="weather">Weather</label>#}
                    <select type="text" class="form-control" name="weather" id="weather">
                        <option>Sunny</option>
                        <option>Rainy</option>
                    </select>
                </div>
            </div>

{#            <div class="row top-buffer">#}
{#                <div class="col-sm-12">#}
{#                    <input id="paramBtn" type="submit" value="Submit" class="btn btn-default">#}
{#                </div>#}
{#            </div>#}
        </form>

{#        <form action="">#}
{#          First name: <input type="text" name="FirstName" value="Mickey"><br>#}
{#          Last name: <input type="text" name="LastName" value="Mouse"><br>#}
{#        </form>#}

        <button type="button" class="btn btn-primary top-buffer" id="submitBtn">Submit</button>
        <button type="button" class="btn btn-primary top-buffer" id="testBtn">Test</button>

                </div>
                <div class="col-sm-9">
{#                    <h2 class="subtitle top-buffer">Follow your journey here</h2>#}
                    <div class="row">
                        <div class="col-lg-12">
                            <div id="mapwrapper">
                                <div id="map"></div>
                            <script>
                              <!--global map variable. Allows us to interact with the map from outside this program.-->
                              var map;
                              var markerArray = [];

                                  <!--Initialize the map-->
                                  function initMap() {
                                    var dublin = {lat: 53.3498, lng: -6.2603};
                                    map = new google.maps.Map(document.getElementById('map'), {
                                      zoom: 11,
                                      center: dublin
                                    });
                                  }
                                </script>
                                <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB3um4WUb5l36zZyCnovdVFE6OEBfgf3wQ&callback=initMap">
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
        </div>


{#        <!-- Footer -->#}
{#        <footer>#}
{#            <div class="row top-buffer">#}
{#                <div class="col-lg-12">#}
{#                    <p>Copyright &copy; Fantastic4UCD 2017</p>#}
{#                </div>#}
{#            </div>#}
{#            <!-- /.row -->#}
{#        </footer>#}

    </div>
    <!-- /.container -->



</body>

</html>